


@import "bootstrap";


h1, h2, h3, p, button, div, tbody, tr, td, ul, li, a {
  font-size: 2rem !important;
}

.nav-tabs >li > a {
  border: 1px solid #000;
}

.paddingg {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #000;
}
